[submodule "extlibs/minizip"]
	path = extlibs/minizip
	url = https://github.com/zlib-ng/minizip-ng.git
	ignore = dirty
	shallow = true
[submodule "extlibs/zlib"]
	path = extlibs/zlib
	url = https://github.com/madler/zlib.git
	ignore = dirty
	shallow = true
